$white: #fff;
$black: #000;
$blacklite: #010920;
$global-bg: #F6F5FA;
$offwhite: #F2F2F2;
$midwhite:#f4f4f4;
$bgcolor:#F6F5FA;
$secondarycolor:#4D4D4D;
$darkblue:#3680C8;
$liteBlue:#443acd;
$navyblue:#241f61;
$globalbg:#15113C;