@media (max-width: 1024px){}
@media (max-width: 1440px){
    .container { padding-left: 24px; padding-right: 24px;}
}
@media (max-width: 767px){
    .main-wrapper-section{
        .hero-cd-section{
            .inner-section{
                flex-direction: column-reverse;
            }
        }
        .whychooseus-main-wrapper{
            .ourusp-main{
                grid-template-rows: 278px auto 278px;
            }
        }
        .team-questionaire-wrap{
            .faq-wrapper{
                grid-template-rows: 442px auto;
                .faq-block{
                    .accordian{
                        width: 400px;
                    }
                }
            }
            .our-team{
                flex-direction: column;
                padding: 42px 0% 42px 2%;
            }
        }
        .feedback-wrapper{
            .terimonial-cell{
                grid-template-rows: 380px auto;
            }
        }
        .deliver-excellence{
            .inner-wrap{
                grid-template-rows: 420px auto;
                .benefit-matrix-wrapper{
                    grid-template-rows: 1fr 1fr;
                }
            }
        }
        .latestNews-wrapper{

        }
        .contact-wrapper-outer{
            .contact-wrapper{
                .contact-frm-panel{
                    .form-cell{
                        &.three-col{
                            grid-template-rows: 1fr 1fr 1fr;
                            row-gap: 24px;
                        }
                    }
                }
            }
        }
        .footer-wrapper{
            .footer-inner{
                grid-template-rows: 1.5fr 1fr 1.5fr 1fr;
            }
        }

        .copyright-wrapper{
            .bottom-inner{
                grid-template-rows: 1fr auto;
                .item-cell{
                    ul.bot-link{
                        flex-direction: column;
                    }
                }
            }
        }


    }

    
}